
<figure class="image">
  <img src="//cdn.shopify.com/s/files/1/1725/5449/products/Variety_subscription_2048x2048.jpg?v=1517257445">
</figure>

<div id="center-tile" class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child notification is-primary">
        <p class="title">Search by Ingredients</p>
        <div class="content">
          <% if flash[:errors] %>
            <% flash[:errors].each do |e| %>
              <p> <%= e %></p>
            <% end %>
          <% end %>
        </div>
        <div class="content">
          <%= form_for @recipe, url:{:controller=>'recipes', :action=>'create_with_ingredients'}, html:{method:'post'} do |f| %>
            <%= f.text_field :name %>
            <%= f.text_field :image %>
            <%= f.text_field :source %>
            <%= f.submit "Search" %>
          <% end %>
        </div>
      </article>
    </div>
  </div>
</div>
