<h1 class="title is-1"><%= @recipe["name"] %></h1>
<img src="<%= @recipe["image"]%>" alt="<%= @recipe["name"] %> dish">

<br>
<% array = @recipe["ingredients"].split(/[\]\[\\\,"]/).reject(&:empty?) - [" "]%>
<% array.each do |i| %>
  <%= i %>
  <br>
<% end %>
<%= @recipe["time"] %>
<br>
<%= @recipe["servings"] %>
<br>
<a href="<%= @recipe["source"] %>" target="_blank" >Click me for directions :)</a>
