<!DOCTYPE html>
<html>
  <head>
    <title>Sizzle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user.id != nil %>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="<% link_to user_path(current_user) %>">
            <h1>SIZZLE</h1>
            <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Recipe Search
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item" href = "">
                  Find by Ingredients
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href = "/recipes/new">
                  Find by Keyword
                </a>
              </div>
            </div>

            <a class="navbar-item" href = "">
              My Cookbook
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                <%= current_user.name.titleize %>
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item">
                  My Account
                </a>
              </div>
            </div>


          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a>
                  <strong><%= link_to "Logout", logout_path, method: 'delete', class: 'button is-primary' %></strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <% end %>
    <%= yield %>
  </body>
</html>
