<!DOCTYPE html>
<html>
  <head>
    <title>Sizzle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:authorized] %>
      <p><%= flash[:authorized] %></p>
    <% end %>
    <% if logged_in? %>
      <%= current_user.name %>
    <% else %>
      <p>Hello there, please log in or sign up</p>
    <% end %>
    <%= yield %>
  </body>
</html>
